body {
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

h1 {
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

h2 {
  margin: 2rem;
  border-bottom: 1px solid #ccc;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  margin-left: 6rem;
  color: #333;
}

p {
  text-align: start;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 1rem;
  text-align: start;
  max-width: 60rem;
  margin-left: 5rem;
  color: #333;
}
